.background {
    -fx-background-color: "#454545";
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

 .digitalDisplay {
    -fx-fill: "#e29c4a";
    -fx-font-size: 30px;
 }

 /*******************************************************************************
  *                                                                             *
  * Button                                                                      *
  *                                                                             *
  ******************************************************************************/

 .button-start {
     -fx-border-width: 2px;
     -fx-border-color: "#5CBD5C";
     -fx-border-style: solid;
     -fx-border-radius: 4px;
     -fx-background-color: "#454545";
     -fx-focus-color: transparent;
     -fx-text-fill: "#5CBD5C";
     -fx-cursor: hand;
 }

 .button-start:hover {
     -fx-background-color: "#373737";
 }

 .button-stop {
     -fx-border-width: 2px;
     -fx-border-color: "#E34A3E";
     -fx-border-style: solid;
     -fx-border-radius: 2px;
     -fx-background-color: "#454545";
     -fx-focus-color: transparent;
     -fx-text-fill: "#E34A3E";
     -fx-cursor: hand;
     -fx-min-width: 65;
 }

 .button-stop:hover {
     -fx-background-color: "#373737";
 }

 .radio-button {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: "#4A90E2";
 }